location /api {
    client_max_body_size 100M;
    proxy_pass http://app:2999;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
}

# Проксирование webhook от Robokassa
location /payment-success {
    proxy_pass http://app:2999;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
    # Для обработки raw body
    proxy_set_header Content-Type $http_content_type;
}

# Проксирование загрузки архива
location /uploads {
    # Настройки для загрузки больших файлов
    client_max_body_size 100M;
    client_body_buffer_size 100M;
    client_body_timeout 600s;
    
    # Отключаем буферизацию для больших файлов
    proxy_request_buffering off;
    proxy_buffering off;
    
    # Увеличиваем таймауты
    proxy_connect_timeout 600s;
    proxy_send_timeout 600s;
    proxy_read_timeout 600s;
    
    # Настройки буферов
    proxy_buffer_size 64k;
    proxy_buffers 8 32k;
    
    # Основные настройки прокси
    proxy_pass http://app:2999;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    
    # Дополнительные заголовки для загрузки файлов
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
}