   # {{ ansible_managed }}
   user  nginx;
worker_processes  auto;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    access_log /var/log/nginx/access.log combined buffer=512k flush=1m;
    error_log /var/log/nginx/error.log warn;
    
    sendfile on;
    keepalive_timeout 65;
    client_max_body_size 100M;

    server {
       listen              443 ssl;
       server_name         {{ public_ip }};
       ssl_certificate     /etc/pki/cert.crt;
       ssl_certificate_key /etc/pki/key.pem;

       include /etc/nginx/conf.d/*.locations;
   }

    server {
       listen              80;
       server_name         {{ public_ip }};

       include /etc/nginx/conf.d/*.locations;
   }
}

